body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  margin-top: 52px;
  height:300px;
  width:400px;
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
  height:300px;
  width:400px;
}
.clippy {
  font-size:8px;
}

.navbar-nav {
	margin:0;
}
.navbar-nav > li {
	float:none;
    display:inline-block;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav > li.open > ul.dropdown-menu {
  position: absolute;
  border: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.emptyvault {
  margin-top:25px;
}

.repstatus {
  margin-top:25px;
}

.deletebutton {
  font-size:8px;
}